@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    background-color: #000000;
  }

  body {
    @apply bg-equis-black text-equis-light antialiased;
  }

  ::selection {
    @apply bg-equis-light text-equis-black;
  }
}

@layer utilities {
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
